<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-white" id="sidebar-wrapper" *ngIf="isSidebarVisible">
            <div class="sidebar-heading text-center py-4 fs-4 fw-bold border-bottom" brand-icon><img src="./assets/img/fabs_logo.png" alt="logo" class="logo-image">
            </div>
            <div class="list-group list-group-flush my-3">
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text active"><i
                        class="fas fa-tachometer-alt me-2"></i>Analytics</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-project-diagram me-2"></i>Locate Stores</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-chart-line me-2"></i>Discounts</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-paperclip me-2"></i>Reports</a>
                <span class="list-group-item list-group-item-action bg-transparent second-text fw-bold" (click)="onOpenModal(null, 'add')">
                    <i class="fas fa-shopping-cart me-2"></i>Add Reservations
                </span>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-gift me-2"></i>Products</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-comment-dots me-2"></i>Chats</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-map-marker-alt me-2"></i>Outlet</a>
                <span class="list-group-item list-group-item-action bg-transparent text-danger fw-bold" (click)="logout()">
                    <i class="fas fa-power-off me-2"></i>Logout
                </span>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle" (click)="toggleSideNav()"></i>
                    <h2 class="fs-2 m-0">Dashboard</h2>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user me-2"></i>{{user}}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#" (click)="logout()">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid px-4">
                <div class="row g-3 my-2">
                    <div class="col-md-3">
                        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <h3 class="fs-2">720</h3>
                                <p class="fs-5">Products</p>
                            </div>
                            <i class="fas fa-gift fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <h3 class="fs-2">4920</h3>
                                <p class="fs-5">Sales</p>
                            </div>
                            <i
                                class="fas fa-hand-holding-usd fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <h3 class="fs-2">3899</h3>
                                <p class="fs-5">Delivery</p>
                            </div>
                            <i class="fas fa-truck fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <h3 class="fs-2">%1</h3>
                                <p class="fs-5">Discount</p>
                            </div>
                            <i class="fas fa-chart-line fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                        </div>
                    </div>
                </div>

                <div class="row my-5">
                    <h3 class="fs-4 mb-3">Recent Reservations</h3>
                    <div class="col">
                        <table class="table bg-white rounded shadow-sm  table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" width="50">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Start Time</th>
                                    <th scope="col">End Time</th>
                                    <th scope="col">Expert Name</th>
                                    <th scope="col">Type of Service</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let reservation of allReservations; index as i">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{reservation?.name}}</td>
                                    <td>{{reservation.price}}</td>
                                    <td>{{reservation?.reservationDate}}</td>
                                    <td>{{reservation?.startTime}}</td>
                                    <td>{{reservation?.endTime}}</td>
                                    <td>{{reservation?.reservationExpert}}</td>
                                    <td>{{reservation?.typeOfService}}</td>
                                    <td>{{reservation?.status}}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm px-3">
                                            <i class="fas fa-edit me-2"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm px-3" (click)="onOpenModal(reservation, 'delete')">
                                            <i class="fas fa-trash me-2"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Delete modal  -->
                <div class="modal fade" id="deleteReservationModal" tabindex="-1" aria-labelledby="deleteModelLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModelLabel">Delete Reservation</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete <span class = "fw-bold">{{reservationToDelete?.name || 'this reservation'}}</span> scheduled on <span class="fw-bold">{{reservationToDelete?.reservationDate}}</span>?</p>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                    <button (click)="deleteReservation(reservationToDelete?.id)" class="btn btn-danger" data-bs-dismiss="modal">Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of deletion modal  -->

                 <!-- Add Reservation Modal -->
                <div class="modal fade" id="addReservationModal" tabindex="-1" role="dialog" aria-labelledby="addReservationModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="addReservationModalLabel">Add Reservation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <div class="card">
                            <div class="card-body">
                                <form class="row g-3" [formGroup]="addReservationForm">
                                    <div class="col-md-6">
                                        <label for="firstName" class="form-label">Type of Reservation</label>
                                        <input formControlName="name" class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
                                            <datalist id="datalistOptions">
                                                <option *ngFor="let service of typeOfServices" [value]="service.name"> - {{service.price}}</option>
                                                <option>Others</option>
                                            </datalist>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="price" class="form-label">Price</label>
                                        <input formControlName="price" type="text" class="form-control disabled" id="price" readonly>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="store" class="form-label">Store</label>
                                        <input formControlName="store" class="form-control" list="storeList" id="store" placeholder="Type to search...">
                                            <datalist id="storeList">
                                                <option>Others</option>
                                                <option *ngFor="let store of stores" [value]="store.name"> - {{store.badge}}</option>
                                            </datalist>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="expert" class="form-label">Expert</label>
                                        <input formControlName="expert" class="form-control" list="availableExperts" id="expert" placeholder="Type to search...">
                                            <datalist id="availableExperts">
                                                <option *ngFor="let service of typeOfServices" [value]="service.category"> - {{service.price}}</option>
                                                <option>Others</option>
                                            </datalist>
                                    </div>
                                    <div class="col-md-6" style="display: none;">
                                        <label for="reservationExpert" class="form-label">Reservation Expert</label>
                                        <input formControlName="reservationExpert" type="text" class="form-control disabled" id="reservationExpert" readonly>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="reservationDate" class="form-label">Reservation Date</label>
                                        <input formControlName="reservationDate" type="date" class="form-control" id="reservationDate">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="startTime" class="form-label">Start Time</label>
                                        <select formControlName="startTime" id="startTime" class="form-select">
                                            <option selected>Choose...</option>
                                            <option *ngFor="let time of availableTimes" [value]="time">{{ time }}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="endTime" class="form-label">End Time</label>
                                        <select formControlName="endTime" id="endTime" class="form-select">
                                            <option selected>Choose...</option>
                                            <option *ngFor="let time of availableTimes" [value]="time">{{ time }}</option>
                                        </select>
                                    </div>
                                    
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="gridCheck">
                                            <label class="form-check-label" for="gridCheck">
                                            Check me out
                                            </label>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-secondary">Reset</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- end of add reservation -->
  

            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->