/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  border-radius: 100%;
}

/* Table Header */
thead {
  background-color: #9bc96b;
}

th {
  padding: 10px;
  text-align: left;
}

/* Table Body */
tbody {
  border-top: 2px solid #feec86;
}

td {
  padding: 10px;
}

/* Alternate Row Color */
tbody tr:nth-child(even) {
  background-color: #feec86;
}

/* Hover Effect */
tbody tr:hover {
  background-color: #feec86;
}
