
<!-- add Nav bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">User Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
             <a class="nav-link" (click)="onOpenModal(undefined, 'add')" >Add User <span class="sr-only">(current)</span></a>
          </li>
       </ul>
       <form class="form-inline my-2 my-lg-0">
         <!-- use ngModelChange to listen to input change, generate key by using the 'ngModel' derived by making the input an ngModel  -->
          <input type="search" (ngModelChange)="searchUsers(key.value)" #key="ngModel" ngModel name="key"
          id="searchName" class="form-control mr-sm-2" placeholder="Search users..." required>
       </form>
    </div>
  </nav>

  <!-- Add the body container -->
  <div class="container" id="main-container">
    <div class="row">
      <div *ngFor="let user of users" class="col-md-6 col-xl-3">
         <div class="card m-b-30">
            <div class="card-body row">
               <div class="col-6">
                  <a href=""><img src="{{user?.image}}" alt="" class="img-fluid rounded-circle w-60"></a>
               </div>
               <div class="col-6 card-title align-self-center mb-0">
                  <h5>{{user?.firstName}} {{user?.lastName}}</h5>
                  <p class="m-0">{{user?.userLocation}}</p>
               </div>
            </div>
            <ul class="list-group list-group-flush">
               <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{user?.email}}</li>
               <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{user?.contact}}</li>
            </ul>
            <div class="card-body">
               <div class="float-right btn-group btn-group-sm">
                  <a (click)="onOpenModal(user, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                  <a (click)="onOpenModal(user, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
               </div>
            </div>
         </div>
      </div>
    </div>

    <!-- Add User Modal -->
  <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addEmployeeModalLabel">Add User</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <!-- name the form addForm and make it an ngForm, have a submit listner which take the name of the form? -->
            <form #addForm = "ngForm" (ngSubmit)="onAddUser(addForm)">
            <div class="form-group">
               <label for="name">First Name</label>
               <!-- for every Input, it must have the "name" attribute since it's used to map it, and ngModel to make it ng -->
               <input type="text" class="form-control" ngModel name="firstName" id="firstName" placeholder="First Name" required>
            </div>
            <div class="form-group">
               <label for="name">Last Name</label>
               <!-- for every Input, it must have the "name" attribute since it's used to map it, and ngModel to make it ng -->
               <input type="text" class="form-control" ngModel name="lastName" id="lastName" placeholder="Last Name" required>
            </div>
            <div class="form-group">
               <label for="email">Email Address</label>
               <input type="email" class="form-control" ngModel name="email" id="email" placeholder="Email" required>
            </div>
            <div class="form-group">
               <label for="phone">Location</label>
               <input type="text" class="form-control" ngModel name="userLocation" id="userLocation" placeholder="Location" required>
            </div>
            <div class="form-group">
               <label for="phone">Phone</label>
               <input type="text" class="form-control" ngModel name="contact" id="contact" placeholder="Contact" required>
            </div>
            <div class="form-group">
               <label for="phone">Image URL</label>
               <input type="text" class="form-control" ngModel name="image" id="image" placeholder="Image URL" required>
            </div>
            <div class="form-group">
               <label for="phone">Store</label>
               <input type="text" class="form-control" ngModel name="userStore" id="userStore" placeholder="Store" required>
            </div>
            <div class="modal-footer">
               <button type="button" id="add-user-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
            </form>
         </div>
      </div>
    </div>
    </div>

    
<!-- Edit Modal -->
<div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="updateEmployeeModalLabel">Edit User {{editUser.firstName}} </h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form #editForm="ngForm">
                <div class="form-group">
                   <label for="name">firstName</label>
                   <input ngModel="{{editUser.firstName}}" type="text" name="firstName" class="form-control" id="firstName" aria-describedby="emailHelp" placeholder="First Name">
                </div>
                <div class="form-group">
                  <label for="name">lastName</label>
                  <input ngModel="{{editUser.lastName}}" type="text" name="lastName" class="form-control" id="lastName" aria-describedby="emailHelp" placeholder="lastNameName">
                </div>
                <input ngModel="{{editUser.id}}" type="hidden" name="id" class="form-control" id="id" placeholder="Id">
                <div class="form-group">
                   <label for="email">Email Address</label>
                <input type="hidden" name="userCode" class="form-control" id="userCode" placeholder="Email">
                   <input ngModel="{{editUser.email}}" type="email" name="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                   <label for="phone">Location</label>
                   <input ngModel="{{editUser.userLocation}}" type="text" name="userLocation" class="form-control" id="userLocation" placeholder="Location">
                </div>
                <div class="form-group">
                   <label for="phone">Phone</label>
                   <input ngModel="{{editUser.contact}}" type="text" name="contact" class="form-control" id="contact" name="contact" placeholder="Phone">
                </div>
                <div class="form-group">
                   <label for="phone">Image URL</label>
                   <input ngModel="{{editUser.image}}" type="text" name="image" class="form-control" id="image" placeholder="Image URL">
                </div>
                <div class="form-group">
                  <input ngModel="{{editUser.rating}}" type="hidden" name="rating" class="form-control" id="rating" placeholder="Rating">
               </div>
               <div class="form-group">
                  <label for="rating">Store</label>
                  <input ngModel="{{editUser.userStore}}" type="text" name="userStore" class="form-control" id="userStore" placeholder="Store">
               </div>
                <div class="modal-footer">
                   <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                   <button (click)="onUpdateUser(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
                </div>
             </form>
          </div>
       </div>
    </div>
  </div>

  <!-- Delete Modal -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="deleteModelLabel">Delete User</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <p>Are you sure you want to delete {{deleteUser.firstName}} from {{deleteUser.userLocation}}?!</p>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)="onDeleteUser(deleteUser.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
             </div>
          </div>
       </div>
    </div>
  </div>
  </div>

  <!-- Notification for no employees -->
<div *ngIf="users.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">NO EMPLOYEES!</h4>
      <p>No Employees were found.</p>
    </div>
</div>
  




