.nav-item a {
  color: #5d8d94;
}

.navbar-brand {
  color: #5d8d94;
}

.jambo {
  background-color: #5d8d94;
}

.login-btn,
.signup-btn {
  margin-right: 3px;
}

.login-btn:hover,
.signup-btn:hover {
  background-color: rgb(132, 216, 231);
  color: #5d8d94;
}
