.nav-item a {
  color: #5d8d94;
}

.navbar-brand {
  color: #5d8d94;
}

.jambo {
  background-color: #635d94;
}

.login-btn,
.signup-btn {
  margin-right: 3px;
}

.login-btn:hover,
.signup-btn:hover {
  background-color: #5d8d94;
}

.slideshow-container {
  width: 1000px;
}
.slideshow-container img {
  height: 500px;
  width: 100%;
}
